iCafe/iCafe.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
iCafe/iCafe.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
iCafe/iCafe.DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
iCafe/iCafe.Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
iCafe/iCafe.Repositories/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
iCafe/iCafe.Services.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
